#page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

#main-vote {
    margin-top: 10px;
    padding: 0;
}

.jumbotron {
    margin-top: 10px;
    text-align: center;
}

#vote-image {
    height: 300px;
}

#vote-buttons {
    margin-top: 30px;
}

.btn-danger {
    margin-right: 20px;
}

.insane-counter, .sane-counter {
    padding: 0;
    top: 60px;
}

.insane-counter {
    top:80px;
}